*{
    box-sizing: border-box;
    margin: 0%;
}
body{
    background-color: rgb(218, 218, 218);
    font-family:Arial, Helvetica, sans-serif;
}
.form{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
.form div{
    padding-top: 10px;
}
fieldset{
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
}
legend{
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
}
input{
    border-radius: 5px;
}
input::placeholder{
    color: aquamarine;
}
