*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
div{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 200px;
    background-color: rgb(70, 73, 70);
}
input{
    padding: 3px;
    border-radius: 8px;
}